#myUL li {
    list-style-type: none;
}
.login_container {
    height: 310px;
    width: 300px;
    margin: 0 auto;
    border-color: #e0d8d8;
    border-style: solid;
}
.login_container h1 {
    text-align: center;
}
.item_container h1, form {
    text-align: center;
    width: 500px;
    margin: 0 auto;
}
.login_container input[type=text], input[type=password], input[type=submit], input[type=email] {
    width: 250px;
}
#container input[type=text], input[type=password], input[type=submit], input[type=email] {
    width: 250px;
}
.item_container input[type=text], input[type=number] {
    width: 250px;
    text-align: center;
    display: inline-block;
}
.dl-horizontal p, h1 {
    text-align: center;
}
#login_box input[type=text], input[type=password]  {
    width: 250px;
    display: block;
    margin : 0 auto;
}